---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Models from '../components/Models.astro';
import YouTubeFeed from '../components/YouTubeFeed.astro';
import InstagramFeed from '../components/InstagramFeed.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import StickyCta from '../components/StickyCta.astro';
---

<Base>
  <Nav />
  <main>
    <Hero />
    <About />
    <Models />
    <YouTubeFeed />
    <InstagramFeed />
    <Contact />
  </main>
  <Footer />
  <StickyCta />
</Base>
